*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.artifacts

# Kotlin/Gradle build caching
.kotlin/

# User-specific Android Studio / IntelliJ IDEA files
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/tasks.xml
/.idea/shelf/

# Signing files
*.jks
*.keystore
